[pull]
	ff = only
[pager]
	# when pager is set to false, it will show its results under the command instead of in a separate app (called 'less')
	# don't use less for `git branch` (less is default in Git > 2.16)
	branch = false
	# don't use less for `git tag` (less is default in Git > 2.16)
	tag = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[core]
	excludesfile = /Users/rwparris2/.gitignore_global
[alias]
    fixup = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
    adog = log --all --decorate --oneline --graph
[user]
	name = 
	email = 
[includeIf "gitdir:~/projects/personal/"]
	path = ~/.gitconfig-personal.conf
[includeIf "gitdir:~/projects/tetria/"]
	path = ~/.gitconfig-tetria.conf